@import "tailwindcss";

@font-face {
  font-family: "Jakarta";
  src: url("/fonts/jakarta/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jakartamd";
  src: url("/fonts/jakarta/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fafafa;
  --foreground: #141522;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xl: 1350px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
